@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #000;
}

a,
a:visited {
    color: #fff;
    text-decoration: none;
}

input:focus {
    outline: none;
    box-shadow: none;
}

header {
    margin: 0 auto;
    margin-top: 20px;
    background-color: #0B192C;
    border: 1px solid #1E3E62;
    border-bottom: none;
    width: 30%;
    padding: 20px;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 10px 5px rgba(30, 62, 98, 0.2);
}

.header__logo h1 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #EEEEEE;
}

.main-content {
    background-color: #0B192C;
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 0 0 25px 25px;
    border: 1px solid #1E3E62;
    position: relative;
    box-shadow: 0 5px 10px 5px rgba(30, 62, 98, 0.2);
}

.form-city {
    display: flex;
    border: 1px solid #1E3E62;
    border-radius: 20px;
}

.main-input {
    width: 100%;
    height: fit-content;
    padding: 15px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
    border-radius: 20px;
}

.main-input::placeholder {
    color: #ffffff79;
}

.button-city {
    display: flex;
    align-items: center;
    background-color: #1E3E62;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    padding: 0 15px;
}

.cities-list {
    display: none;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #1E3E62;
    margin-top: 10px;
    border-radius: 20px;
    padding: 15px;
    color: #EEEEEE;
}

.cities-list__saved-header {
    color: #ffffff79;
}

.cities-list__saved {
    list-style: none;
    margin-top: 10px;
}

.cities-list__saved li {
    border-radius: 10px;
    padding: 5px 20px;
}

.cities-list__saved li:hover {
    cursor: pointer;
    background-color: #1E3E62;
    transition: 0.3s all ease;
}

.main-weather {
    position: relative;
    margin-top: 15px;
    border: 1px solid #1E3E62;
    border-radius: 20px;
    padding: 15px;
    color: #EEEEEE;
    height: 140px;
    visibility: hidden;
}

.city-name {
    margin-top: 10px;
}

.locationImg {
    width: 15px;
}

.loading {
    display: none;
    width: 40px;
    height: 40px;
    border: 4px solid #1E3E62;
    border-right: 4px solid #EEEEEE;
    border-radius: 50%;
    margin: auto;
    margin-top: 50px;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.prev-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff79;
    font-size: 18px;
    text-align: center;
}

.weather-icon {
    width: 150px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.save-icon {
    display: none;
    position: absolute;
    width: 20px;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 100;
}

.weather-details {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    visibility: hidden;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    border: 1px solid #1E3E62;
    color: #EEEEEE;
    border-radius: 20px;
    padding: 15px;
    font-size: 16px;
    text-align: center;
}

.weather-details__img {
    width: 70px;
}

.weather-details__header {
    font-weight: 550;
}

.details-container__sun {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.details-container__sun div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1E3E62;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #183250;
}

@media (max-width: 1024px) {

    .main-content,
    header {
        width: 50%;
    }
}

@media (max-width: 768px) {

    .main-content,
    header {
        width: 70%;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    header {
        margin: 0;
    }

    .main-content,
    header {
        width: 100%;
    }
}