* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #070e1c;
    font-family: Arial, Helvetica, sans-serif;
}

.main-content {
    background-color: #1A3263;
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

.form-city {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-input {
    width: 100%;
    height: fit-content;
    padding: 15px 10px;
    background-color: #3b5fa6;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.main-input::placeholder {
    color: #ffffff79;
}

.button-city {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cities-list {
    display: none;
    width: 100%;
    background-color: #3b5fa6;
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
}

.cities-list__saved-header {
    color: #ffffff79;
}

.cities-list__saved {
    list-style: none;
    margin-top: 10px;
}

.cities-list__saved li {
    border-radius: 5px;
    padding: 5px 20px;
}

.cities-list__saved li:hover {
    cursor: pointer;
    background-color: #1A3263;
    transition: 0.3s all ease;
}

.main-weather {
    position: relative;
    margin-top: 15px;
    background-color: #3b5fa6;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
    height: 140px;
    visibility: hidden;
}

.city-name {
    margin-top: 10px;
}

.locationImg {
    width: 15px;
}

.loading {
    display: none;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.prev-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff79;
    font-size: 18px;
}

.weather-icon {
    width: 150px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.save-icon {
    display: none;
    position: absolute;
    width: 20px;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 100;
}

.weather-details {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    visibility: hidden;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    background-color: #3b5fa6;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    text-align: center;
}

.weather-details__img {
    width: 70px;
}

.weather-details__header {
    font-weight: 550;
}

.details-container__sun {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.details-container__sun div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1024px) {
    .main-content {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .main-content {
        width: 70%;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .main-content {
        width: 100%;
        margin: 0;
    }
}