* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #070e1c;
    font-family: Arial, Helvetica, sans-serif;
}

.main-content {
    background-color: #1A3263;
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
}

.form-city {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-input {
    width: 100%;
    height: fit-content;
    padding: 15px 10px;
    background-color: #3b5fa6;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.main-input::placeholder {
    color: #ffffff79;
}

.button-city {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main-weather {
    position: relative;
    margin-top: 20px;
    background-color: #3b5fa6;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
    height: 150px;
}

.city-name {
    margin-top: 10px;
}

.locationImg {
    width: 15px;
}

.loading {
    display: none;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.prev-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff79;
    font-size: 18px;
}

.weather-icon {
    width: 150px;
    position: absolute;
    top: 15px;
    right: 15px;
}

@media (max-width: 1024px) {
    .main-content {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .main-content {
        width: 70%;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .main-content {
        width: 100%;
        margin: 0;
    }
}